
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 20px 0;
}

.container {
    border-radius: 10px;
    border: 2px solid rgb(146, 142, 142);
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.image img {
    width: 100%;
    border-radius: 14px;
}

.desc {
    margin: 20px;
    text-align: center;
}

.desc span {
    padding: 10px;
    color: rgb(116, 105, 105);
    font-weight: 550;
}

h2 {
    margin: 10px 0;
    font-size: 20px;
}

.desc p {
    color: rgb(117, 107, 107);
    font-family: 'Baloo Bhai 2', sans-serif;
    font-size: 16px;
    text-align: left; /* Left-align paragraphs */
}

.more {
    text-align: center;
    margin-top: 20px;
}

.more button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
