* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  /* border: 2px solid black; */
  height: 100px;
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
nav ul {
  display: flex;
  margin: 18px;
  padding: 5px;
}

nav ul li {
  list-style: none;
  margin: 23px;
}
nav ul li a {
  text-decoration: none;
  color: #222222;
  list-style: none;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  left: 266px;
}

#logo {
  width: 200px;
  height: auto;
  margin: 20px;
}
#lang {
  font-size: 26px;
  margin: 35px;
  padding: 12px;
  position: relative;
  right: 101px;
  bottom: 3px;
}
.material-symbols-outlined{
  font-size: 18px;
}
