


<h1>Hello World!</h1>
<b>Testing out View Engined and trying to run html dynamically using express</b>
<!-- name hmare pass main index.js se dynamically araha ha  -->
<h1>Hello <%= name %></h1>

<!-- How to use loops in ejs files  -->


<!-- To include multiple partials in your file for code reuseability -->
<%- include('partials/header') %>
<h1>Hello World!</h1>

<%- include('partials/footer') %>