
*{
    
    margin: 0;
    padding: 0;
}
.container {
border: 2px solid black;
padding: 45px;
margin: 34px;
display: inline-block;
width: 331px; 
color: white;
background-color: red;
}
.box1{
    color: #FFFF;
    background-color: blue;
    /*To completely hide the box and it's occupied space*/
    display: none; 
    /*To completely hide the box but not its space*/
visibility: hidden;
}
